{% extends 'base.html.twig' %}

{% block title %}EcoWeb | Ajouter une formation{% endblock %}

{% block body %}
    {% if is_granted('ROLE_FORMATOR') %}
        <section>
            <h1 class="text-space-mono-bold text-secondary pt-5 mt-3">
                {% if update == 1 %}
                    Modifier une formation
                {% else %}
                    Ajouter une formation
                {% endif %}
            </h1>
        </section>
        <section>
            {{ form_start(form) }}
            <div class="row">
                {{ form_row(form.title) }}
                <div class="col-12 col-sm-4">
                    {{ form_label(form.imageFile) }}
                    {% if update == 1 %}
                        <img src="{{ asset('build/photos/formation/'~form.vars.value.image) }}" class="w-100"/>
                    {% endif %}
                    {{ form_widget(form.imageFile) }}
                    {{ form_rest(form.imageFile) }}
                </div>
            </div>
            {{ form_row(form.description) }}
            {% if update == 1 %}
                <section class="p-3">
                    <h2>Les sections</h2>
                    <section class="p-3">
                        {% for section in form.sections %}
                            {{ form_row(section) }}
                            <div class="pt-2 pb-4">
                                <a class="button-primary"
                                   href="{{ path('app_update_section', {
                                       sectionId: section.vars.value.id,
                                       formationId: form.vars.value.id,
                                   }) }}"
                                >
                                    <i class="fa fa-eye"></i>
                                    Voir les leçons
                                </a>
                            </div>
                        {% endfor %}
                    </section>
                </section>
            {% endif %}
            <section class="tags"
                data-index="{{ form.sections|length > 0 ? form.sections|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.sections.vars.prototype)|e('html_attr') }}"
            ></section>
            <div class="text-center">
                <button type="button" class="add_item_link button-primary" data-collection-holder-class="tags">
                    + Ajouter une section
                </button>
            </div>
            <div class="text-center py-4">
                <input type="submit"
                        {% if update == 1 %}
                            value="Modifier"
                        {% else %}
                            value="Ajouter"
                        {% endif %}
                       class="button-dark"
                />
            </div>
            {{ form_end(form) }}
        </section>
    {% else %}
        <p>Vous n'avez pas accès à cette page. Veuillez retourner à la page d'accueil.</p>
    {% endif %}
{% endblock %}