{% extends 'base.html.twig' %}

{% block title %}EcoWeb | Lesson {{ lesson.title }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_LEARNER') %}
        <div class="mt-4">
            <a class="button-primary" href="{{ path("app_formation_view", {"formation": formation}) }}">
                <- Revenir à la formation
            </a>
        </div>

        <section class="row my-5">
            <h1 class="text-space-mono-bold text-secondary">{{ lesson.title }}</h1>
            <p>
                {{ lesson.content }}
            </p>

            {% if done != 1 %}
                <div class="text-center m-5">
                    <a
                    class="button-primary"
                    href="{{ path("app_formation_lesson_done", {"formation": formation, "lesson": lesson.id}) }}"
                    >
                        Leçon terminée
                    </a>
                </div>
            {% endif %}
        </section>

    {% else %}
        <p>Vous n'avez pas accès à cette page. Veuillez vous connecter pour accéder aux formations.</p>
    {% endif %}
{% endblock %}
