{% extends 'base.html.twig' %}

{% block title %}EcoWeb | Ajouter un quiz{% endblock %}

{% block body %}
    {% if is_granted('ROLE_FORMATOR') %}
        <section class="pt-5">
            <a href="{{ path('app_quiz', {
                formationId: formationId,
                sectionId: sectionId
            }) }}"
               class="button-dark">
                <i class="fa fa-arrow-left"></i>
            </a>
            <h1 class="text-space-mono-bold text-secondary mt-3">
                {% if update == 1 %}
                    Modifier une question
                {% else %}
                    Créer une question
                {% endif %}
            </h1>
        </section>
        <section>
            {{ form_start(form) }}
                <div class="row py-2">
                    {{ form_row(form.question) }}
                </div>

                <div class="py-2">
                    <h2 class="text-space-mono text-primary fs-5">
                        L'étudiant devra choisir une réponse parmi...
                    </h2>
                    {% if update == 1 %}
                        <section class="p-3">
                            {% for answer in form.answers %}
                                {{ form_row(answer) }}
                            {% endfor %}
                        </section>
                    {% endif %}
                    <ul class="answers"
                        data-index="{{ form.answers|length > 0 ? form.answers|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}"
                    ></ul>
                </div>

                <div class="text-center">
                    <button type="button" class="add_answer_link button-primary" data-collection-holder-class="answers">
                        + Ajouter un choix de réponse
                    </button>
                </div>

                <div class="text-center py-4">
                    <input type="submit"
                           {% if update == 1 %}
                               value = "Modifier la question"
                           {% else %}
                                value="Créer la question"
                           {% endif %}
                           class="button-dark"/>
                </div>
            {{ form_end(form) }}
        </section>
    {% else %}
        <p>Vous n'avez pas accès à cette page. Veuillez retourner à la page d'accueil.</p>
    {% endif %}
{% endblock %}