{% extends 'base.html.twig' %}

{% block title %}EcoWeb | Mon Quiz{% endblock %}

{% block body %}
    {% if is_granted('ROLE_FORMATOR') %}
        <section>
            <a href="{{ path('app_update_section', {
                formationId: formationId,
                sectionId: sectionId
            }) }}"
               class="button-dark">
                <i class="fa fa-arrow-left"></i>
            </a>
            <h2 class="text-center text-primary text-space-mono">Quiz de fin de section</h2>
            <p>
                Ajoutez un quiz à la fin de votre section pour permettre à l'étudiant de tester ses connaissances.
            </p>
            <table class="table table-striped">
                <tbody>
                {% for question in section.questions %}
                    <tr>
                        <td><span class="text-space-mono text-dark">{{ question.question }}</span></td>
                        <td>
                            <a
                                    class="button-primary"
                                    href="{{ path('app_update_question',
                                        {
                                            formationId: section.formation.id,
                                            sectionId: section.id,
                                            questionId: question.id
                                        })
                                    }}"
                            ><i class="fa fa-pen"></i></a>
                            <a
                                    class="button-secondary"
                                    href="{{ path('app_delete_question', {
                                        formationId: section.formation.id,
                                        sectionId: section.id,
                                        questionId: question.id
                                    }) }}"
                            ><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <div class="text-center">
                <a href="{{ path('app_add_question', {
                    formationId: section.formation.id,
                    sectionId: section.id
                }) }}" class="button-primary">
                    <i class="fa fa-plus"></i>
                    Ajouter une question
                </a>
            </div>
        </section>
    {% else %}
        <p>Vous n'avez pas accès à cette page, veuillez retourner à la page d'accueil.</p>
    {% endif %}
    </section>
{% endblock %}

