{% extends 'base.html.twig' %}

{% block title %}EcoWeb | Ajouter une leçon{% endblock %}

{% block body %}
    {% if is_granted('ROLE_FORMATOR') %}
        <section class="pt-5">
            <a href="{{ path('app_update_section', {
                formationId: formationId,
                sectionId: sectionId
            }) }}"
               class="button-dark">
                <i class="fa fa-arrow-left"></i>
            </a>
            <h1 class="text-space-mono-bold text-secondary mt-3">
                {% if update == 1 %}
                    Modifier une leçon
                {% else %}
                    Ajouter une leçon
                {% endif %}
            </h1>
        </section>
        <section>
            {{ form_start(form) }}
            <div class="row">
                {{ form_row(form.title) }}
                {{ form_row(form.video) }}
            </div>
            {{ form_row(form.content) }}

            <div class="text-center py-4">
                <input type="submit"
                       {% if update == 1 %}
                           value="Modifier"
                       {% else %}
                           value="Ajouter"
                       {% endif %}
                       class="button-dark"/>
            </div>
            {{ form_end(form) }}
        </section>
    {% else %}
        <p>Vous n'avez pas accès à cette page. Veuillez retourner à la page d'accueil.</p>
    {% endif %}
{% endblock %}